<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
  <!-- ====================================================== -->
  <!--            CADENAS DE CONEXIÓN - CECNIC SYSTEM         -->
  <!-- ====================================================== -->

  <connectionStrings>

    <!-- ==================================================== -->
    <!-- CONEXIÓN LOCAL - EQUIPO DE DESARROLLO -->
    <!-- ==================================================== -->

    
     <add name="CecnicSystem"
         connectionString="Data Source=DESKTOP-NURDDRI;Initial Catalog=CecnicSystem;Integrated Security=True"
         providerName="System.Data.SqlClient" />
     

    <!-- ==================================================== -->
    <!-- SERVIDOR MANAGUA -->
    <!-- ==================================================== -->

    <!-- Conexión LOCAL al servidor de Managua -->
    <!--
    <add name="CecnicSystem"
         connectionString="Data Source=192.168.1.150\CECNIC,57000;Initial Catalog=CecnicSystem;User Id=Sistema;Password=1234;Integrated Security=false"
         providerName="System.Data.SqlClient" />
    -->

    <!-- Conexión VPN al servidor de Managua -->
    <!--
    <add name="CecnicSystem"
         connectionString="Data Source=10.147.19.213\CECNIC,57000;Initial Catalog=CecnicSystem;User Id=Sistema;Password=1234;Integrated Security=false"
         providerName="System.Data.SqlClient" />
    -->

    <!-- ==================================================== -->
    <!-- SERVIDOR TIPITAPA -->
    <!-- ==================================================== -->

    <!-- Conexión LOCAL al servidor de Tipitapa -->
    <!--
    <add name="CecnicSystem"
         connectionString="Data Source=192.168.1.160\CECNIC,57500;Initial Catalog=CecnicSystem;User Id=Tipitapa;Password=1234;Integrated Security=false"
         providerName="System.Data.SqlClient" />
    -->

    <!-- Conexión VPN al servidor de Tipitapa -->
     <!--
    <add name="CecnicSystem"
         connectionString="Data Source=10.144.156.62\CECNIC,57500;Initial Catalog=CecnicSystem;User Id=Tipitapa;Password=1234;Integrated Security=false"
         providerName="System.Data.SqlClient" />
 -->
    

  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Loader" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.26.1.0" newVersion="3.26.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.8.0" newVersion="1.3.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Permissions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration.ConfigurationManager" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPPlus.Interfaces" publicKeyToken="a694d7f3b0907a61" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.0.0" newVersion="8.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
